<p>¡Hola <%= @user.full_name %>!</p>

<p>Your post titled <%= @comment.post.title %> was commented.</p>

<p>Here is the comment:</p>

<p><%= @comment.body %></p>

<p>Thank you for posting on my blog!</p>

<p>Roberto P. Villalva</p>
